page-tarefa-detalhe-manutencao {
    .Bar {
        height: 10px;
        width: 100%;
        background: #ddd;
      }
    
      .Progress{
        height: 10px;
        background: #009200;
        transition: width .5s;
      }
}
