page-tarefa-lista {
    .sinal{
        width:30px !important;
        height:30px !important
    }
    circle{
        width:30px !important;
        height:30px !important
    }
    .cardCustom-1{
        border-radius: .5rem;
        background: #36da6d;
        background: linear-gradient(95deg, #36da6d 0%, #fff 81%, #fff 100%);
        color:white
    }
    .cardCustom-2{
        border-radius: .5rem;
        background: #ffa82c;
        background: linear-gradient(95deg, #ffa82c 0%, #fff 81%, #fff 100%);
        color:white
    }
    .cardCustom-3{
        border-radius: .5rem;
    }
    .branco{
        color: black !important;
        font-weight: 500;
    }
    .cinza{
        color: gray !important;
        font-weight: 500;
    }
    ion-avatar{
        margin: 8px 16px 0px 0 !important
    }
}
